<h1>Shopping Cart</h1>

<p>Your have {{cart.totalQuantity}} items in your shopping cart. </p>

<table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.itemsList">
        <td>{{ item.product.title }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.totalPrice | currency:'USD' }}</td>
      </tr>
    </tbody>
    <tfoot>
      <th></th>
      <th></th>
      <th>{{ this.cart.totalPrice | currency:'USD' }}</th>
    </tfoot>
  </table>