<button *ngIf="cartService.cart.getItemQuantity(product) === 0;else quantityBar"
(click)="addToCart()" 
class="btn btn-secondary btn-block">Add To Cart</button>

<ng-template #quantityBar>
    <div class="row no-gutters">
        <button class="col-2 btn btn-secondary btn-block"
        (click)="removeFromCart()"
        >-</button>
        <div class="col text-center">
                {{ cartService.cart.getItemQuantity(product) }} in cart
        </div>
        <button class="col-2 btn btn-secondary btn-block"
        (click)="addToCart()"
        >+</button>
      </div>
</ng-template>

